<h1>Index page</h1>
<br>
<h2>Here are all the tasks :</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>Task : <%= link_to task.title, task %></li>
  <% end %>
</ul>

<p><%= link_to "Add a new task", new_url %></p>
